Checks: >
  -*,
  clang-analyzer-*,
  cert-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  google-*,
  misc-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  modernize-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -misc-non-private-member-variables-in-classes
