.DS_Store
.directory
actions-runner/*
actions-runner
CMakeLists.txt
assets/flippy.psd
cmake-build*
.idea
.run

demo_out
flippy/flippy.hpp-e
discarded
tests/test.info
tests/test_out
logs
tests/res
banner.old
doxygen_warnings.log
make_doxygen_html.sh
make_single_header_flippy.sh
benchmarks
code_overview
