name: Run Test Suite

on:
  push:
   branches:
     - master

jobs:
  test_single_header:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: test_single_header
        run: |
          echo 'testing'
          cd tests/
          bash build_tests_for_single_header_flippy
          cd cmake-build-default
          ./flippy_test
          echo 'done testing'

  test:
      runs-on: self-hosted
      steps:
        - name: Checkout repository
          uses: actions/checkout@v3
        - name: test
          run: |
            echo 'testing'
            cd tests/
            bash build_tests
            cd cmake-build-default
            cd ..
            ./do_tests > test_out
            total=`grep "functions..:" test_out | tail -1| grep -Eo '[0-9]+\.[0-9]+'`
            if (( $(echo "$total <= 50" | bc -l) )) ; then
              COLOR=red
            elif (( $(echo "$total > 90" | bc -l) )); then
              COLOR=green
            else
              COLOR=orange
            fi
            gistID=2e1b636e9ff08fb7d0d5a8168bcf5613
            git clone git@gist.github.com:${gistID}.git
            echo \{\"schemaVersion\":1,\"label\":\"coverage\",\"message\":\""${total}%"\",\"color\":\""${COLOR}"\"\} > ${gistID}/coverage.json
            cd ${gistID}
            git commit coverage.json -m "new coverage results" || echo "nothing to commit"
            git push || echo "nothing to push"
            echo "done testing"
